<div class="block">
    <app-personal-story [personalInfo]="this.personalStoryData.contactData"
        [highlights]="this.personalStoryData.highlights" [currentFocus]="this.personalStoryData.currentFocus"
        [values]="this.personalStoryData.values"></app-personal-story>

    <app-education [education]="this.educationData.education" [academicProjects]="this.educationData.academicProjects"
        [academicStats]="this.educationData.academicStats"
        [certificates]="this.educationData.certificates"></app-education>

    <app-volunteer-experience [volunteerExperiences]="this.volunteerData.volunteerExperiences"
        [volunteerSkills]="this.volunteerData.volunteerSkills"
        [volunteerStats]="this.volunteerData.volunteerStats"></app-volunteer-experience>

    <app-hobbies-interests [hobbies]="this.hobbiesAndInterestsData.hobbies"
        [interests]="this.hobbiesAndInterestsData.interests"
        [personalityTraits]="this.hobbiesAndInterestsData.personalTraits"></app-hobbies-interests>

    <app-personal-timeline [timelineItems]="this.timelineData.timelineItems"></app-personal-timeline>
</div>